[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dpkt = "*"
"geoip2" = "*"
keyboard = "*"
python-osc = "*"
scapy = "*"

[requires]
python_version = "3.7"
